<div class="home">
    <div class="homeGuider"></div>
    <div class="homeTop">
        <div class="homeTopWelcome">
            <div class="HomeTopWelcomeText">
                <h1><%= config.title %></h1>
                <h3>Welcom my blog😶‍🌫️</h3>
                <h5>This is my best blog! <img data-src="img/sotheby-emoji.png" alt="表情"></h5>
            </div>
            <div class="HomeTopWelcomeImg">
                <img data-src="img/head.png" alt="头像">
                <div></div>
            </div>
        </div>
        <div class="homeTopSkill">
            <ul>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-daima3"></use></svg><p>技术</p>
                    </div>
                    <p>这里都是我会的技术</p>
                </li>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-HTML"></use></svg><p>HTML5</p>
                    </div>
                    <p>前端三件套之--HTML！</p>
                </li>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-CSS"></use></svg><P>CSS3</P>
                    </div>
                    <p>前端三件套之一--CSS3！</p>
                </li>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-javascript"></use></svg><p>JavaScript</p>
                    </div>
                    <p>前端三件套之一--JS！</p>
                </li>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-Vue"></use></svg><p>Vue</p>
                    </div>
                    <P>易学易用，性能出色，适用场景丰富的 Web 前端框架。</P>
                </li>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-GSAP"></use></svg><p>GSAP</p>
                    </div>
                    <P>一个为专业人士构建的非常强大的JavaScript动画库</P>
                </li>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-stylus"></use></svg><p>Stylus</p>
                    </div>
                    <P>一个富于表现力、动态的、健壮的CSS预处理器。</P>
                </li>
                <li>
                    <div>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sass"></use></svg><p>SASS</p>
                    </div>
                    <P>世界上最成熟、最稳定、最强大的专业级CSS扩展语言！</P>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 引入动画 -->
<%- js('js/animate/index') %>