<footer>
    <div class="footerLeft">
        <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
        <span>本站访客数<span id="busuanzi_value_site_uv"></span>人次</span>
        <a class="moeICP" href="https://icp.gov.moe/?keyword=20240328" target="_blank">♥萌ICP备20240328号♥</a>
    </div>
    <div class="footerRight">
        <div>
            <ul>
                <p>友链:</p>
                <li><a href="https://tool.ririsukokoromu.top/"><img src="http://pic.yupoo.com/ririsukokoromu/7cca6f56/a125365e.png" alt="logo"></a></li>
            </ul>
        </div>
        <div>
            <ul>
                <p>技术:</p>
                <li><a href="https://hexo.io/zh-cn/">HEXO</a></li>
                <li><a href="https://vercel.com/">Vercel</a></li>
                <li><a href="https://dash.cloudflare.com/">Cloudflare</a></li>
                <li><a href="https://www.superbed.cn/">聚合图床</a></li>
                <li><a href="https://x.yupoo.com/">又拍云</a></li>
            </ul>
        </div>
    </div>
    <!-- 不蒜子计数器 -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <script>
        var now = new Date();
        function createtime() {
            var grt = new Date("01/01/2024 0:0:0");
            now.setTime(now.getTime() + 250);
            days = (now - grt) / 1000 / 60 / 60 / 24;
            dnum = Math.floor(days);
            hours = (now - grt) / 1000 / 60 / 60 - 24 * dnum;
            hnum = Math.floor(hours);
            if (String(hnum).length == 1) {
                hnum = "0" + hnum;
            }
            minutes = (now - grt) / 1000 / 60 - 24 * 60 * dnum - 60 * hnum;
            mnum = Math.floor(minutes);
            if (String(mnum).length == 1) {
                mnum = "0" + mnum;
            }
            seconds =
                (now - grt) / 1000 -
                24 * 60 * 60 * dnum -
                60 * 60 * hnum -
                60 * mnum;
            snum = Math.round(seconds);
            if (String(snum).length == 1) {
                snum = "0" + snum;
            }
            document.getElementById("timeDate").innerHTML =
                "已运行 " + dnum + " 天 ";
            document.getElementById("times").innerHTML =
                hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
        }
        setInterval("createtime()", 250);
    </script>
</footer>