<header id="header">
  <div class="headerLogo">
    <img src="http://pic.yupoo.com/ririsukokoromu/c9501caf/524e360a.png" alt="Web-logo">
    <a href="/"><%= config.title %></a>
  </div>
  <!-- 菜单 -->
  <div class="headerMenuSwitch">
    <label class="iconfont" for="headerSwitch">&#xef5e;</label>
    <input type="checkbox" name="headerSwitch" id="headerSwitch">  
    <div class="headerModule" id="headerModule">
      <!-- 菜单 -->
      <div class="headerModuleMenu">
        <ul>
          <% for (name in theme.menu) { %>
            <li class="menu-item">
              <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link">
                <%= name %>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
      <div class="headerInterval"></div>
      <!-- 明暗切换开关 -->
      <div class="headerLight-dark">
        <p>Day alternates with night!</p>
        <div>
          <label>
            <input type="checkbox" id="themeCheckbox">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="headerInterval"></div>
      <!-- 社交平台 -->
      <div class="headerSocialize">
        <ul>
          <li><a href="https://github.com/Ririsu-Kokoromu" class="iconfont">&#xeea8;</a></li>
          <li><a href="https://discord.gg/eRGYZw6Q" class="iconfont">&#xeeab;</a></li>
          <li><a href="https://twitter.com/ririsukokoromu" class="iconfont">&#xeeb0;</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- 下滑收起导航栏 -->
  <%- js('js/header') %>
    <!-- 控制明暗主题 -->
    <script>
      const checkbox = document.getElementById('themeCheckbox');
      checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
          setTheme('dark');
        } else {
          setTheme('light');
        }
      });
      const setTheme = theme => document.documentElement.className = theme;
    </script>
</header>