<header id="header">
  <div class="headerPC">
    <div class="headerPCLeft">
      <div class="headerPCLeftLogo"><img data-src="http://pic.yupoo.com/ririsukokoromu/c9501caf/524e360a.png"
          alt="Web-logo"></div>
      <div class="headerPCLeftTitle"><a href="/">
          <%= config.title %>
        </a></div>
    </div>
    <label class="headerRightSwitch iconfont" for="headerRightSwitch">&#xef5e;</label>
    <input type="checkbox" name="headerRightSwitch" id="headerRightSwitch" class="headerRightSwitchInput">
    <div class="headerPCRight">
      <!-- <div class="headerPCRightBG"></div> -->
      <div class="headerPCRightLink">
        <ul>
          <% for (name in theme.menu) { %>
            <li class="menu-item">
              <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link">
                <%= name %>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
      <div class="headerPCRightInterval"></div>
      <div class="headerPCRightLight-dark">
        <p>Day alternates with night!</p>
        <div class="toggle-switch">
          <label class="switch-label">
            <input type="checkbox" class="checkbox" id="themeCheckbox">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="headerPCRightInterval"></div>
      <div class="headerPCRightSocialize">
        <ul>
          <li><a href="https://github.com/Ririsu-Kokoromu" class="iconfont">&#xeea8;</a></li>
          <li><a href="https://discord.gg/eRGYZw6Q" class="iconfont">&#xeeab;</a></li>
          <li><a href="https://twitter.com/ririsukokoromu" class="iconfont">&#xeeb0;</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 下滑收起导航栏 -->
  <%- js('js/header') %>
    <!-- 控制明暗主题 -->
    <script>
      const checkbox = document.getElementById('themeCheckbox');
      checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
          setTheme('dark');
        } else {
          setTheme('light');
        }
      });

      const setTheme = theme => document.documentElement.className = theme;
    </script>
</header>