<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>～Wonderland～</title>
    <!--网页标题左侧显示-->
    <link rel="icon" href="https://pic.imgdb.cn/item/6511b165c458853aef7ae7a8.png" type="image/x-icon">
    <!--收藏夹显示图标-->
    <link rel="shortcut icon" href="https://pic.imgdb.cn/item/6511b165c458853aef7ae7a8.png" type="image/x-icon">
    <%- css('css/style') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/default.min.css">
    <!-- <script src='//unpkg.com/valine/dist/Valine.min.js'></script> -->
    <%- js('js/Valine.min') %>

    <!-- 引入GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <!-- 引入GSAP-ScrollTrigger插件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"></script>
</head>