<div id="loading-page">
    <!-- <img class="loading-page-img" src="https://pic.imgdb.cn/item/6511b165c458853aef7ae7b9.png" alt="头像"> -->
    <div id="wifi-loader">
        <svg class="circle-outer" viewBox="0 0 86 86">
            <circle class="back" cx="43" cy="43" r="40"></circle>
            <circle class="front" cx="43" cy="43" r="40"></circle>
            <circle class="new" cx="43" cy="43" r="40"></circle>
        </svg>
        <svg class="circle-middle" viewBox="0 0 60 60">
            <circle class="back" cx="30" cy="30" r="27"></circle>
            <circle class="front" cx="30" cy="30" r="27"></circle>
        </svg>
        <svg class="circle-inner" viewBox="0 0 34 34">
            <circle class="back" cx="17" cy="17" r="14"></circle>
            <circle class="front" cx="17" cy="17" r="14"></circle>
        </svg>
        <div class="text" data-text="Loading..."></div>
    </div>
    <div class="loading-page-span">
        <span class="loading-page-span2">Blog from Ririsu-Kokoromu๑•ิ.•ั๑</span>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // 等待所有内容加载完毕后隐藏加载页面
        window.addEventListener("load", function () {
            let load = gsap.timeline();
            load.to('#wifi-loader', {
                delay: 1,
                scale: 0,
                duration: 2,
                ease: "back.in(1.9)",
            });
            load.to('#loading-page', {
                opacity: 0,
            });
            setTimeout(() => {
                document.getElementById("loading-page").style.display = "none";
            }, 3500);
        });
    });
</script>