<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%- theme.valine.appId %>',
        appKey: '<%- theme.valine.appKey %>',
        requiredFields: ['nick','mail'], //设置必填项
        emojiMaps: {
            "37Clap": "http://pic.yupoo.com/ririsukokoromu/df0be3ff/068bb353.png",
            "AKnightJustice": "http://pic.yupoo.com/ririsukokoromu/4e04d2d1/6dfc317a.png",
            "AnanEZlah": "http://pic.yupoo.com/ririsukokoromu/fde18772/9cf6cfc2.png",
            "AnAnSquish": "http://pic.yupoo.com/ririsukokoromu/6efef398/581f0b54.png",
            "AppleBuff": "http://pic.yupoo.com/ririsukokoromu/9adc77ce/4e36e9bb.png",
            "AppleDood": "http://pic.yupoo.com/ririsukokoromu/3d9a11f3/f12215af.png",
            "ApplePat": "http://pic.yupoo.com/ririsukokoromu/873878f7/6ea5d7dd.gif",
            "BabyBlueSleep": "http://pic.yupoo.com/ririsukokoromu/b41ee2f2/7584729c.png",
            "BabyBlueStare": "http://pic.yupoo.com/ririsukokoromu/19550237/7559714f.png",
            "BDPray": "http://pic.yupoo.com/ririsukokoromu/76e1c484/ce3a35a6.png",
            "BkornCry": "http://pic.yupoo.com/ririsukokoromu/2220c115/12058258.png",
            "BPartyInsane": "http://pic.yupoo.com/ririsukokoromu/c28670cd/4cf0aef4.png",
            "BPartyWonder": "http://pic.yupoo.com/ririsukokoromu/2b0dd490/b272b76d.png",
            "CenturionThumbsUp": "http://pic.yupoo.com/ririsukokoromu/4d0ef602/f0ee8cb2.png",
            "CharlieMyWorkHereIsDone": "http://pic.yupoo.com/ririsukokoromu/4252d20f/53e195de.png",
            "charlieworried": "http://pic.yupoo.com/ririsukokoromu/3c0f64fb/953e256d.png",
            "CristalloBedge": "http://pic.yupoo.com/ririsukokoromu/115f8402/8e6a0139.png",
            "CritterGULAG": "http://pic.yupoo.com/ririsukokoromu/58a38f1a/66105242.gif",
            "DOGRIDAH": "http://pic.yupoo.com/ririsukokoromu/9fc523cd/ec6bf463.png",
            "druvis_wut": "http://pic.yupoo.com/ririsukokoromu/7cdad05e/1fc9dab7.png",
            "FogSip": "http://pic.yupoo.com/ririsukokoromu/3250e46a/f5ac06a6.png",
            "FRICKMeNot": "http://pic.yupoo.com/ririsukokoromu/b4f853ce/1548f9a2.png",
            "MatildaDizzy": "http://pic.yupoo.com/ririsukokoromu/a0fbc9dd/4a058325.png",
            "MatildaSmug": "http://pic.yupoo.com/ririsukokoromu/39db5999/c8788c48.png",
            "MatildaSob": "http://pic.yupoo.com/ririsukokoromu/7074b7fd/f09b1d7b.png",
            "MatildaWatchthiscope": "http://pic.yupoo.com/ririsukokoromu/d42d214e/f12def03.png",
            "med00": "http://pic.yupoo.com/ririsukokoromu/ec30090f/e5c45c51.png",
            "MedicinePocketPls": "http://pic.yupoo.com/ririsukokoromu/1724cf58/73df43cf.png",
            "MedPoc_Sip": "http://pic.yupoo.com/ririsukokoromu/dd6d714e/c49c0a57.png",
            "melaniaSneak": "http://pic.yupoo.com/ririsukokoromu/50a76daa/b6e19d76.gif",
            "Nodnetto": "http://pic.yupoo.com/ririsukokoromu/e0a0115d/abdb57cc.gif",
            "OMEGULUS": "http://pic.yupoo.com/ririsukokoromu/ccfe02b8/cd476a54.png",
            "ReguluSalute": "http://pic.yupoo.com/ririsukokoromu/326d0b08/59819309.png",
            "RegulusDance": "http://pic.yupoo.com/ririsukokoromu/b75a1a25/934313ec.gif",
            "RegulusEhe": "http://pic.yupoo.com/ririsukokoromu/645132b6/b8539f99.png",
            "RegulusGrr": "http://pic.yupoo.com/ririsukokoromu/c60803ed/ca9c74c7.png",
            "RegulusHeh": "http://pic.yupoo.com/ririsukokoromu/c4564bfa/e0e6b634.png",
            "ReguluShock": "http://pic.yupoo.com/ririsukokoromu/cc495f76/825c66a3.png",
            "ReguluSmile": "http://pic.yupoo.com/ririsukokoromu/ebb406d4/d7641363.png",
            "RegulusNanikore": "http://pic.yupoo.com/ririsukokoromu/ca6309fe/afa5dbbb.png",
            "RegulusPat": "http://pic.yupoo.com/ririsukokoromu/7ff797dd/db79a638.gif",
            "RegulusSweat": "http://pic.yupoo.com/ririsukokoromu/19b78075/97092458.png",
            "ReguluStare": "http://pic.yupoo.com/ririsukokoromu/58cf31bb/0a703a02.png",
            "RegulusWheeze": "http://pic.yupoo.com/ririsukokoromu/15f8499e/3ffed950.png",
            "RegulusYay": "http://pic.yupoo.com/ririsukokoromu/a625237f/c3767503.png",
            "SatsukiWut": "http://pic.yupoo.com/ririsukokoromu/35d26052/22b53bd8.png",
            "schneider0": "http://pic.yupoo.com/ririsukokoromu/ecc92dd2/cb8be4bf.png",
            "SchneiderWeird": "http://pic.yupoo.com/ririsukokoromu/3577cf95/66bb3370.png",
            "SonettoHeart": "http://pic.yupoo.com/ririsukokoromu/c436beee/f51991aa.png",
            "SonettoJustRight": "http://pic.yupoo.com/ririsukokoromu/b7371c31/c5403b3a.png",
            "SothebyTehe": "http://pic.yupoo.com/ririsukokoromu/b1fc2f44/9fb2cbeb.png",
            "SothebyUnion": "http://pic.yupoo.com/ririsukokoromu/9b60e9ad/d48bab9f.png",
            "SpathodeaWisdom": "http://pic.yupoo.com/ririsukokoromu/90f2331d/43438cb3.png",
            "VerFear": "http://pic.yupoo.com/ririsukokoromu/e1beef7b/91e3219b.png",
            "VerSad": "http://pic.yupoo.com/ririsukokoromu/f52dcd64/2f59649e.png",
            "VertinAngy": "http://pic.yupoo.com/ririsukokoromu/9fc4d030/4bfe3f07.png",
            "VertinCheckPins": "http://pic.yupoo.com/ririsukokoromu/576a6c84/55ea9803.png",
            "VertinLike": "http://pic.yupoo.com/ririsukokoromu/4aaf6877/aba00651.png",
            "VertinPat": "http://pic.yupoo.com/ririsukokoromu/3f9801fc/5a79a41b.gif",
            "VertinPat~1": "http://pic.yupoo.com/ririsukokoromu/cf08809f/a8df904c.gif",
            "VertinPunch": "http://pic.yupoo.com/ririsukokoromu/5c396fbc/c52a9c83.gif",
            "VertinSip": "http://pic.yupoo.com/ririsuk10okoromu/0278b2d2/b8fe88cc.png",
            "VertinSleep": "http://pic.yupoo.com/ririsukokoromu/f2685d8b/49d25ad3.png",
            "VertinSob": "http://pic.yupoo.com/ririsukokoromu/8d1c1ffc/0c1e97ca.png",
            "vertinstare": "http://pic.yupoo.com/ririsukokoromu/67e80e6b/76d49c1c.png",
            "VoyagerNoises": "http://pic.yupoo.com/ririsukokoromu/1ec60677/5ff12add.png",
        },
    })
</script>10