<div class="load" id="load">
    <div></div>
    <video src="<%- url_for('img/load.mp4') %>" autoplay="true" loop="true"></video>
    <div>
        <span>加载中...</span>
        <span>此博客来自于AliceClodia</span>
    </div>
</div>
<%- js('js/load.js') %>