<!-- 平板端 -->
<label for="padMenuSwitch" class="padMenuSwitchLab">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-sandian1"></use>
    </svg>
    <input type="checkbox" id="padMenuSwitch" class="padMenuSwitchInput">
</label>

<!-- 手机端 -->
<label class="phoneMenuSwitchLab">
    <input type="checkbox" id="phoneMenuSwitch">
    <div class="checkmark">
      <span></span>
      <span></span>
      <span></span>
    </div>
</label>

<%- js('js/menuSwitch') %>