<div class="rightmousebutton" id="rightmousebutton">
    <div class="mouseEnvelop" id="mouseEnvelop">
        <div class="projector" id="projector"></div>
    </div>
</div>
<%- js('js/rightmousebutton.js') %>