<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%- theme.valine.appid %>',
        appKey: '<%- theme.valine.appkey %>',
        placeholder: '<%- theme.valine.placeholder %>',
        notify: true, // 邮件提醒!!!
        verify: true, // 验证码
        recordIP: true,
        enableQQ: true,
        emojiMaps: {
            "0": "https://pic.yupoo.com/ririsukokoromu/e9be8ac5/dc0dc674.png",
            "1": "https://pic.yupoo.com/ririsukokoromu/d99e3c04/34d69f48.png",
            "2": "https://pic.yupoo.com/ririsukokoromu/37940250/bffbd7a1.png",
            "3": "https://pic.yupoo.com/ririsukokoromu/91287a48/8f5e21dd.png",
            "4": "https://pic.yupoo.com/ririsukokoromu/37b54833/1610ab64.gif",
            "5": "https://pic.yupoo.com/ririsukokoromu/2fe06d05/ec2c8c8a.png",
            "6": "https://pic.yupoo.com/ririsukokoromu/3fbe197e/14d825aa.png",
            "7": "https://pic.yupoo.com/ririsukokoromu/459b9a2f/e6b8c430.png",
            "8": "https://pic.yupoo.com/ririsukokoromu/8ce13376/1473e10d.png",
            "9": "https://pic.yupoo.com/ririsukokoromu/4c512c9a/c8de50f1.png",
            "10": "https://pic.yupoo.com/ririsukokoromu/cc4c04ed/b5f949f0.png",
            "11": "https://pic.yupoo.com/ririsukokoromu/43430d04/0ec68194.png",
            "12": "https://pic.yupoo.com/ririsukokoromu/00256659/657edb3d.png",
            "13": "https://pic.yupoo.com/ririsukokoromu/fdbb06e8/c803a8a8.png",
            "14": "https://pic.yupoo.com/ririsukokoromu/4e10001a/7524ce9f.png",
            "15": "https://pic.yupoo.com/ririsukokoromu/09bbc2ba/7202fe77.png",
            "16": "https://pic.yupoo.com/ririsukokoromu/4906127e/87f4ccf3.png",
            "17": "https://pic.yupoo.com/ririsukokoromu/b8308b9e/d2496fd6.gif",
            "18": "https://pic.yupoo.com/ririsukokoromu/566e328d/04e61bb5.png",
            "19": "https://pic.yupoo.com/ririsukokoromu/28486bd8/1974f29f.png",
            "20": "https://pic.yupoo.com/ririsukokoromu/4b41ecb7/c7094a3f.png",
            "21": "https://pic.yupoo.com/ririsukokoromu/a21259f5/dfd0a5e8.png",
            "22": "https://pic.yupoo.com/ririsukokoromu/24002909/f0117d99.png",
            "23": "https://pic.yupoo.com/ririsukokoromu/22eb42b3/65dad2b1.png",
            "24": "https://pic.yupoo.com/ririsukokoromu/0e79b34e/59e7a660.png",
            "25": "https://pic.yupoo.com/ririsukokoromu/0e15b0ec/18303574.png",
            "26": "https://pic.yupoo.com/ririsukokoromu/90621b42/6ef772d4.png",
            "27": "https://pic.yupoo.com/ririsukokoromu/b109d417/534dcebf.png",
            "28": "https://pic.yupoo.com/ririsukokoromu/a97fc8c9/8482681d.png",
            "29": "https://pic.yupoo.com/ririsukokoromu/d741609b/bbecbd64.png",
            "30": "https://pic.yupoo.com/ririsukokoromu/b9988422/252508e0.png",
            "31": "https://pic.yupoo.com/ririsukokoromu/ecbcf56b/db92fe1d.png",
            "32": "https://pic.yupoo.com/ririsukokoromu/6cebf959/93f5d02b.png",
            "33": "https://pic.yupoo.com/ririsukokoromu/3eb9702d/d929793a.png",
            "34": "https://pic.yupoo.com/ririsukokoromu/f9ae8a48/e6e6ed31.png",
            "35": "https://pic.yupoo.com/ririsukokoromu/6d6fe570/f672f70a.png",
            "36": "https://pic.yupoo.com/ririsukokoromu/6afa132a/90ff107a.png",
            "37": "https://pic.yupoo.com/ririsukokoromu/4d1f2b32/12a5bd23.png",
            "38": "https://pic.yupoo.com/ririsukokoromu/f986fbd7/e6d2dc88.gif",
            "39": "https://pic.yupoo.com/ririsukokoromu/0fa8f21a/f0888063.gif",
            "40": "https://pic.yupoo.com/ririsukokoromu/7f365fdf/7fd1db4c.gif",
            "41": "https://pic.yupoo.com/ririsukokoromu/b891a19f/1d6d453c.png",
            "42": "https://pic.yupoo.com/ririsukokoromu/f6d11edc/8695e2eb.png",
            "43": "https://pic.yupoo.com/ririsukokoromu/f7cc8c86/2c905f07.png",
            "44": "https://pic.yupoo.com/ririsukokoromu/1a1004ff/0e13ad5a.png",
            "45": "https://pic.yupoo.com/ririsukokoromu/bce4eca7/917e7154.png",
            "46": "https://pic.yupoo.com/ririsukokoromu/ce5b60bb/b2b54822.png",
            "47": "https://pic.yupoo.com/ririsukokoromu/44f97a22/6f437d83.png",
            "48": "https://pic.yupoo.com/ririsukokoromu/8e0a3842/40d09703.png",
            "49": "https://pic.yupoo.com/ririsukokoromu/400b1503/26bd0d91.png",
            "50": "https://pic.yupoo.com/ririsukokoromu/e6232bf3/e49a37bb.png",
            "51": "https://pic.yupoo.com/ririsukokoromu/76ee1c80/57ba4b73.png",
            "52": "https://pic.yupoo.com/ririsukokoromu/3fefb6f8/1d8e521b.png",
            "53": "https://pic.yupoo.com/ririsukokoromu/c2eb7607/d2ca59b3.png",
            "54": "https://pic.yupoo.com/ririsukokoromu/d1687e43/505cb361.png",
            "55": "https://pic.yupoo.com/ririsukokoromu/338b83ac/9d4828fa.png",
            "56": "https://pic.yupoo.com/ririsukokoromu/140707f2/c26b85cc.png",
            "57": "https://pic.yupoo.com/ririsukokoromu/6a5893a9/48ed03ed.gif",
            "58": "https://pic.yupoo.com/ririsukokoromu/28f01acd/0f46f2eb.png",
            "59": "https://pic.yupoo.com/ririsukokoromu/5446d8b6/a1e135a5.png",
            "60": "https://pic.yupoo.com/ririsukokoromu/480dbc5f/223a3a08.png",
            "61": "https://pic.yupoo.com/ririsukokoromu/759982b4/56d2f901.png",
            "62": "https://pic.yupoo.com/ririsukokoromu/59864798/ac74c8f2.png",
            "63": "https://pic.yupoo.com/ririsukokoromu/be40eb31/5b6ee957.png",
            "64": "https://pic.yupoo.com/ririsukokoromu/9592b2ea/025751dc.png",
            "65": "https://pic.yupoo.com/ririsukokoromu/217c5bfa/61247c67.gif",
            "66": "https://pic.yupoo.com/ririsukokoromu/0a0cd381/0dee3c45.png",
            "67": "https://pic.yupoo.com/ririsukokoromu/bfcf5a5d/a1b6b4c0.png",
            "68": "https://pic.yupoo.com/ririsukokoromu/f643c9d8/8ed0f93a.png",
            "69": "https://pic.yupoo.com/ririsukokoromu/4f09e71c/3017bd63.png",
            "70": "https://pic.yupoo.com/ririsukokoromu/86ee6a9f/4351d4fe.png",
            "71": "https://pic.yupoo.com/ririsukokoromu/cec06635/68c5aeee.png",
            "72": "https://pic.yupoo.com/ririsukokoromu/818dcf83/3db106a9.png",
            "73": "https://pic.yupoo.com/ririsukokoromu/f720055c/8fef2a7a.png",
            "74": "https://pic.yupoo.com/ririsukokoromu/17371fa7/d07f5948.png",
            "75": "https://pic.yupoo.com/ririsukokoromu/8b8e7526/ca6e17b4.png",
            "76": "https://pic.yupoo.com/ririsukokoromu/7e210194/ac1ea98e.png",
            "77": "https://pic.yupoo.com/ririsukokoromu/b52d1e19/69c40418.png",
            "78": "https://pic.yupoo.com/ririsukokoromu/7011c91b/25d68032.png",
            "79": "https://pic.yupoo.com/ririsukokoromu/894b5574/5bb91e17.png",
            "80": "https://pic.yupoo.com/ririsukokoromu/9939bd49/4542b98a.gif",
            "81": "https://pic.yupoo.com/ririsukokoromu/898dc196/b94eab52.png",
            "82": "https://pic.yupoo.com/ririsukokoromu/cb852172/c1fb5ee3.png",
            "83": "https://pic.yupoo.com/ririsukokoromu/0bf92fd3/8707aa6c.png",
            "84": "https://pic.yupoo.com/ririsukokoromu/28351a7e/fed29615.png",
            "85": "https://pic.yupoo.com/ririsukokoromu/e7c78d1b/cc6998ee.png",
            "86": "https://pic.yupoo.com/ririsukokoromu/86175943/08cb6956.png",
            "87": "https://pic.yupoo.com/ririsukokoromu/0f7d809d/d4e057db.png",
            "88": "https://pic.yupoo.com/ririsukokoromu/579915f3/3d36b996.png",
            "89": "https://pic.yupoo.com/ririsukokoromu/2e8c6d3e/c521050a.gif",
            "90": "https://pic.yupoo.com/ririsukokoromu/6a1dd21a/93daeb80.gif",
            "91": "https://pic.yupoo.com/ririsukokoromu/a421394e/5da3ac4a.png",
            "92": "https://pic.yupoo.com/ririsukokoromu/4d74e599/c32115a9.png",
            "93": "https://pic.yupoo.com/ririsukokoromu/3a87e12e/6e744ee6.png",
            "94": "https://pic.yupoo.com/ririsukokoromu/82022bdf/89fd23f5.png",
            "95": "https://pic.yupoo.com/ririsukokoromu/42832627/2f0ffe00.gif",
            "96": "https://pic.yupoo.com/ririsukokoromu/0d719dbe/bf039013.png",
            "97": "https://pic.yupoo.com/ririsukokoromu/6c5e13ea/df7f7e3f.png",
            "98": "https://pic.yupoo.com/ririsukokoromu/12cdcf88/c8fea82a.png",
            "99": "https://pic.yupoo.com/ririsukokoromu/efdc9d4e/2803eb8c.png",
            "100": "https://pic.yupoo.com/ririsukokoromu/1bfc7160/0a51a00a.gif",
            "101": "https://pic.yupoo.com/ririsukokoromu/4b381eea/84984716.png",
            "102": "https://pic.yupoo.com/ririsukokoromu/9fdb31f2/664487f1.png",
            "103": "https://pic.yupoo.com/ririsukokoromu/ac8afde9/b2c7dd56.png",
            "104": "https://pic.yupoo.com/ririsukokoromu/d914ac05/8440f29b.png",
            "105": "https://pic.yupoo.com/ririsukokoromu/bcafb5fc/e6544ee1.png",
            "106": "https://pic.yupoo.com/ririsukokoromu/d7ef9a0d/a5e0415e.gif",
            "107": "https://pic.yupoo.com/ririsukokoromu/418492d7/6c9134e1.png",
            "108": "https://pic.yupoo.com/ririsukokoromu/d8599feb/aa71e3e5.png",
            "109": "https://pic.yupoo.com/ririsukokoromu/83f95c51/d34c5952.png",
            "110": "https://pic.yupoo.com/ririsukokoromu/90cb0700/2431db5f.png",
            "111": "https://pic.yupoo.com/ririsukokoromu/c448660e/d34b8470.png",
            "112": "https://pic.yupoo.com/ririsukokoromu/e49af635/b69ef179.png",
            "113": "https://pic.yupoo.com/ririsukokoromu/5bfd0574/dea4d096.png",
            "114": "https://pic.yupoo.com/ririsukokoromu/0c7b3436/4ebdc8dc.png",
            "115": "https://pic.yupoo.com/ririsukokoromu/a0e4e554/6fa8f75c.png",
            "116": "https://pic.yupoo.com/ririsukokoromu/a20a6178/7bcbc8b4.png",
            "117": "https://pic.yupoo.com/ririsukokoromu/5bc1592c/76d6da96.png",
            "118": "https://pic.yupoo.com/ririsukokoromu/a6cb757b/ba4b1c09.png",
            "119": "https://pic.yupoo.com/ririsukokoromu/0d2fd547/5e07bc50.png",
            "120": "https://pic.yupoo.com/ririsukokoromu/b097be1c/9b9a18c9.gif",
            "121": "https://pic.yupoo.com/ririsukokoromu/0ef6e579/d61c38d6.png",
            "122": "https://pic.yupoo.com/ririsukokoromu/2d9f55f2/f13706cc.png",
            "123": "https://pic.yupoo.com/ririsukokoromu/4d46da35/27c67f24.png",
            "124": "https://pic.yupoo.com/ririsukokoromu/4e0c8565/1e3980b8.png",
            "125": "https://pic.yupoo.com/ririsukokoromu/57185405/a1d858aa.png",
            "126": "https://pic.yupoo.com/ririsukokoromu/67ec9ae1/f9cd509b.png",
            "127": "https://pic.yupoo.com/ririsukokoromu/21fde775/1aabfbaa.png",
            "128": "https://pic.yupoo.com/ririsukokoromu/5cab93cc/67f1cfdb.png",
            "129": "https://pic.yupoo.com/ririsukokoromu/f15ecdd9/d2dcf1f0.png",
            "130": "https://pic.yupoo.com/ririsukokoromu/94a95be1/7846be8b.png",
            "131": "https://pic.yupoo.com/ririsukokoromu/e80c5385/ec933541.png",
            "132": "https://pic.yupoo.com/ririsukokoromu/c355c087/9ef78dba.png",
        },
    });
</script>