footer
    width 100vw
    
.footer
    width 100%
    height: 500px
    display: flex
    justify-content: center
    align-items: center
    background-color: #839476
    .info
        width 30%
        height: 100px
        // background-color: red
        .title
            display: flex
            img
                width 92px
                height: 92px
                background-color: #FFFFFF
                border-radius: 92px
            p
                color: #FFFFFF
                font-size: 30px
                font-family: Noto-Blod
    .link
        width 30%
        height: 100px
        // background-color: blue
            

.webRelevant
    width 100%
    height 113px
    display flex
    flex-direction column
    justify-content center
    align-items center
    color var(--footer-color)
    border-top 1px solid var(--footer-border-top)
    p
        margin 2px 0px
        font-size 14px

    a
        color var(--footer-a-color)
        transition 0.3s

    a:hover
        color var(--footer-a-hover-color)
    
    .moeICP
        color: #849476