.rightmousebutton
    position fixed
    top: 0
    left: 0
    z-index 9996
    .mouseEnvelop
        display: none;
        position absolute
        width 100vw
        height: 100vh
        background-color: #000000b2
        z-index 9998
    .projector
        width 300px
        height: 300px
        position absolute
        top: 0
        left: 0
        z-index 9999
        background-color:  #FFF
        border-radius: 150px
        background: url(https://blogimage-1315833212.cos.ap-shanghai.myqcloud.com/rightmousebutton.webp)
        background-position: 100px 100px
        background-repeat: no-repeat