<a href="/" class="laquo">&laquo; 回到首页</a>
<div class="post-Detali">
    <article>
        <div class="post-Detali-content">
            <span><%- page.content %></span>
        </div>
    </article>
</div>