.about {
    min-width: 400px;
    max-width: 820px;
    height: calc(100vh - 105px);
    padding: 20px 10px;
    margin: 0 auto;

    .title {
        font-size: 26px;
        font-weight: bold;
        color: var(--title-color);
    }

    .content {
        margin-left: 38px;
        font-size: 18px;
        color: var(--content-color);
    }

    ul {
        margin-top: 60px;

        li {
            height: 128px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            border: 1px solid var(--border);
            border-radius: 4px;
            overflow: hidden;
            position: relative;

            .left {
                display: flex;
                flex-direction: column;
                padding: 10px;

                span {
                    font-size: 16px;
                    color: var(--title-color);
                }

                p {
                    padding: 4px 0;
                    font-size: 14px;
                    color: var(--content-color);
                    flex-grow: 1;
                }

                a {
                    display: flex;
                    align-items: center;
                    color: var(--content-color);

                    svg, p {
                        margin-right: 4px;
                    }
                }
            }

            .right {
                width: 200px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                overflow: hidden;
                z-index: -99;

                img {
                    width: 100%;
                    margin-top: -25%;
                }
            }
        }
    }
}