@import 'theme'
*
    margin 0
    padding 0

body
    width 100vw
    height 100vh
    background-color: var(--body-background-color)
    font-family Noto-Medium
    cursor: url('https://blogimage-1315833212.cos.ap-shanghai.myqcloud.com/mouse.cur'), auto;

#__bs_notify__
    display none !important

::-webkit-scrollbar
    display none

@font-face
    font-family Noto-Medium
    src url('/font/NotoSansSC-Medium.ttf')

@font-face
    font-family Noto-Bold
    src url('/font/NotoSansSC-Bold.ttf')

@font-face
    font-family intel
    src url('/font/intelone-mono-font-family-medium.ttf')

.icon
    width 1em
    height 1em
    vertical-align -0.15em
    fill currentColor
    overflow hidden

@import '_partial/header'
@import '_partial/footer'
@import '_partial/soundSwitch'
@import '_partial/rightmousebutton'
@import 'index'
@import 'post'
@import 'pad'
@import 'phone'