//代码块
figure {
  background-color: #222; 
  color #fff;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px;
  overflow: scroll;
}
.gutter {
  padding-right: 10px;  
}
.code {
  
}
//复制按钮
.btn-copy {
  position: absolute;
  top: 20px;
  right: 20px;

  border: none;
  background-color: #111;
  color: #fff;
  padding: 8px;
  border-radius: 5px; 
}
.btn-copy:hover {
  background-color: #16A085;
}


pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}