footer
    width 100vw
    height 160px
    display flex
    justify-content space-around
    align-items center
    background-color var(--footerBGColor)
    border-top: 1px solid var(--footerborder)
.footerLeft
    display flex
    flex-direction column

    span
        color var(--footerText)
    a
        color var(--footerRegister)
.footerRight
    display flex
    flex-direction column
    justify-content center
    align-items flex-end

    ul
        margin-top 10px
        color var(--footerTextIcon)
        display flex

        p
            font-weight bold
            line-height 32px
        li
            margin 0px 5px
            list-style none
            line-height 32px

            a
                text-decoration none
                color var(--footerTextIcon)
                font-weight bold
                transition 0.5s

                img
                    width 32px
                    height 32px
                    background-color #555
                    border-radius 32px
            a:hover
                color var(--footerTextIconHover)
            a:active
                color var(--footerTextIconClick)