footer
    width 100vw
    height 300px
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    background-color var(--footerBGColor)
    border-top 1px solid var(--footerborder)

.footerTop
    width 100%
    height 80%
    display flex
    justify-content center
    align-items center

    ul
        width 30%
        display flex
        flex-direction column
        color var(--footerTextIcon)

        p
            font-weight bold

        li
            list-style none
            color var(--footerText)

            .moeICP
                color var(--footerRegister)

            a
                text-decoration none
                color var(--footerTextIcon)
                transition 0.5s

            a:hover
                color var(--footerTextIconHover)

            a:active
                color var(--footerTextIconClick)

    .footerTopUrl
        display flex
        flex-direction column

        p
            color var(--footerText)

        li
            height 150px
            margin 5px

            a
                display flex

                img
                    width 60px
                    height 60px
                    padding 5px
                    background-color var(--footerImgBG)
                    border-radius 10px
                    transition 0.5s

                img:hover
                    background-color var(--footerImgBGHover)

.footerBottom
    width 100%
    height 20%
    display flex
    justify-content center
    align-items center

    ul
        display flex
        justify-content center
        align-items center
        color var(--footerTextIcon)

        p
            margin 0px 10px
            font-weight bold
            color var(--footerText)

        li
            display flex
            justify-content center
            align-items center
            list-style none
            margin 0px 10px

            svg
                padding 6px 5px 6px 8px
                background-color var(--footerTechnologySvgBG)
                border-radius 8px 0px 0px 8px

            a
                padding 3px 8px 3px 5px
                text-decoration none
                color var(--footerTextIcon)
                transition 0.5s
                background-color var(--footerTechnologyTextBG)
                border-radius 0px 8px 8px 0px

            a:hover
                color var(--footerTextIconHover)

            a:active
                color var(--footerTextIconClick)