footer
    width 100vw
    height 160px
    display flex
    justify-content space-around
    align-items center
    background-color var(--footerBGColor)
    border-top 1px solid var(--footerborder)
.footerLeft
    width 30%
    display flex
    flex-direction column

    span
        color var(--footerText)
    a
        color var(--footerRegister)
.footerRight
    width 30%
    display flex
    flex-direction column
    justify-content center
    align-items flex-end

    ul
        color var(--footerTextIcon)
        display flex
        flex-wrap: wrap
        justify-content: center
        align-content: center

        p
            font-weight bold
        li
            height 24px
            margin 0px 5px
            list-style none
            display flex
            justify-content center
            align-content center

            svg
                font-size 20px
            a
                text-decoration none
                color var(--footerTextIcon)
                font-weight bold
                transition 0.5s
            a:hover
                color var(--footerTextIconHover)
            a:active
                color var(--footerTextIconClick)