// 移动端隐藏部分
.headerRightSwitch
  display none
header
  width 100vw
  height 64px
  position fixed
  z-index 2
  display flex
  justify-content space-between
  align-items center
  background-color var(--guiderBGColor)
  transition all 0s
// 左边logo
.headerLogo
  margin-left 64px
  display flex
  align-items center
  font-weight blod

  img
    width 32px
    height 32px
  a
    font-weight bold
    text-decoration none
    color var(--guiderLogo)
// 右边组件
.headerModule
  margin-right 64px
  display flex
  align-items center
// 分割线
.headerInterval
  width 1px
  height 15px
  background-color var(--guiderInterval)
// 菜单
.menuSwitch
  display: none
.headerModuleMenu
  ul
    display flex

    li
      list-style none
      margin 0 5px
      font-size 14px

      a
        color var(--guiderTextIcon)
        text-decoration none
        transition all 0.2s
      a:hover
        color var(--guiderTextIconHover)
      a:active
        color var(--guiderTextIconClick)
// 明暗切换开关
.headerLight-dark
  margin 0px 10px

  p
    display none
  div
    position relative
    width 40px
    height 20px
    --light #d8dbe0
    --dark #28292c
    --link rgb(27, 129, 112)
    --link-hover rgb(24, 94, 82)

    label
      position absolute
      width 33px
      height 14px
      background-color var(--dark)
      border-radius 25px
      cursor pointer
      border 3px solid var(--dark)

      input
        position absolute
        display none
      input:checked ~ .slider
        background-color var(--light)
      input:checked ~ .slider::before
        -webkit-transform translateX(18px)
        -ms-transform translateX(18px)
        transform translateX(18px)
        background-color var(--dark)
        -webkit-box-shadow none
        box-shadow none
      span
        width 100%
        height 100%
        position absolute
        border-radius 25px
        -webkit-transition 0.3s
        transition 0.3s
      span::before
        content ''
        position absolute
        top 0.5px
        left 1px
        width 13px
        height 13px
        border-radius 50%
        -webkit-box-shadow inset 3px -4px 0px 0px var(--light)
        box-shadow inset 3px -4px 0px 0px var(--light)
        background-color var(--dark)
        -webkit-transition 0.3s
        transition 0.3s
// 社交平台
.headerSocialize
  ul
    display flex

    li
      margin 0px 5px
      list-style none

      a
        font-size 24px
        text-decoration none
        color var(--guiderTextIcon)
        transition all 0.2s
      a:hover
        color var(--guiderTextIconHover)
      a:active
        color var(--guiderTextIconClick)