.laquo {
    position: absolute;
    top: 0;
    left: 10px;

    color: #583229;
    text-decoration: none;
}
.post-Detali {
    width: 100vw;
    height: auto;

    margin-top: 50px;
}
article {
    width: 100%;

    display: flex;
    justify-content: center;
}
.post-Detali-content {
    width: 800px;
    height: auto;
    padding: 60px;

    border: 3px dashed #583229;
    border-radius: 14px;
}
.post-Detali-content span {
    margin: 50px 0px;
}
.post-Detali-content p {
    line-height: 40px;
    font-size: 20px;
}
.post-Detali-content a {
    color: #583229;
}
.post-Detali-content img {
    width: 50%;
}
.post-Detali-content ul {
    background-color: #583229;
    border-radius: 10px;
    padding: 7px 25px;
}
.post-Detali-content ol {
    background-color: #583229;
    border-radius: 10px;
    padding: 7px 25px;
}
.post-Detali-content li {
    margin: 3px 0px;
}
/* 代码块 */
figure {
    background-color: #583229;
    border-radius: 10px;
    padding: 7px 10px;
}
pre {
    margin-right: 10px;
}
.btn-copy {
    padding: 5px;

    position: absolute;
    top: 11px;
    right: 20px;

    background-color: #f5e2e2;
    border: none;
    border-radius: 5px;

    color: #583229;
}

.post-Detali h1 {
    font-size: 45px;
}
.post-Detali h1:hover::before {
    content: "#";
    color: #66ccff;
}
.post-Detali h2 {
    font-size: 40px;
}
.post-Detali h2:hover::before {
    content: "#";
    color: #66ccff;
}
.post-Detali h3 {
    font-size: 35px;
}
.post-Detali h3:hover::before {
    content: "#";
    color: #66ccff;
}
.post-Detali h4 {
    font-size: 30px;
}
.post-Detali h4:hover::before {
    content: "#";
    color: #66ccff;
}
.post-Detali h5 {
    font-size: 25px;
}
.post-Detali h5:hover::before {
    content: "#";
    color: #66ccff;
}
.post-Detali h6 {
    font-size: 20px;
}
.post-Detali h6:hover::before {
    content: "#";
    color: #66ccff;
}