* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;

    background-color: #f5e2e2;
}

::selection {
    background-color: #583229;
    color: #f5e2e2;
}

.no-list-style {
    list-style: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/c/font_4335391_p0ol5hg5pu.woff2?t=1700207775844') format('woff2'),
         url('//at.alicdn.com/t/c/font_4335391_p0ol5hg5pu.woff?t=1700207775844') format('woff'),
         url('//at.alicdn.com/t/c/font_4335391_p0ol5hg5pu.ttf?t=1700207775844') format('truetype');
}
@font-face {
    font-family: 'PingFang';
    src: url('../ttf/苹方-简.ttf');
}
@font-face {
    font-family: 'Gabrielle';
    src: url('../ttf/Gabrielle.otf');
}