<!DOCTYPE html>
<html lang="zh_Hans">
<%- partial('_partial/head') %>
<body>
    <div class="container">
    <%- partial('_partial/header') %>
    <%- body %>
    </div>
    
    <!-- 图标引入 -->
    <%- js('icon/iconfont.js') %>
</body>
</html>