.indexContent {
    width: 100vw;
}
.indexGuider {
    width: 100vw;
    height: 64px;    
}
// 主页头部
.indexContentHeader {
    max-width: 60%;
    height: calc(100vh - 64px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// 头部上面的文字和头像
.indexContentHeaderUp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
// 文字
.indexContentHeaderLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;  

    font-weight: bold;
}
.indexContentHeaderLeftH {
    margin: 0px 0px;    
    text-shadow: 10px 10px 10px;
}
.indexContentHeaderLeftH:hover::before {
    content: "";
}
.indexContentHeaderLeftH1 {
    color: var(--index-text-h1-color);
    font-size: 52px;
    font-weight: bold;
    margin: -10px 0px;
}
.indexContentHeaderLeftH3 {
    color: var(--index-text-h3-color);
    font-size: 42px;
}
.indexContentHeaderLeftH5 {
    color: var(--index-text-h5-color);
    font-size: 28px;
}
.indexContentHeaderLeft h5 img {
    position: absolute;
    margin: 10px 0px 0px 10px 
    width: 30px;
    height: 30px
}

// 头像
.indexContentHeaderRight{
    width: 200px;
    height: 200px;
    margin-right: 100px;
    position relative;
}
.indexContentHeaderRight img{
    width: 200px;
    height: 200px;
    border-radius: 320px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
.indexContentHeaderRightBG {
    width: 200px;
    height: 200px;
    background-color: #16a085;
    box-shadow: 0px 0px 120px 60px rgba(22, 160, 133 , 25%);
    border-radius: 310px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index -1;
}


// 头部下面的技术
.indexContentHeaderDown {
    order: 1;
    margin-top: 50px;
}
.indexContentHeaderDown>p {
    padding: 10px 0px;
    color: var(--index-text-h3-color);
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid var(--index-text-h3-color);
}
.indexContentHeaderDown ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.indexContentHeaderDown ul li {
    list-style: none;
    padding: 15px 0px 15px 15px;
    margin: 10px;

    background-color: rgba(22, 160, 132, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.indexContentHeaderDown ul li>p {
    color: aliceblue;
    font-size: 15px; 
    margin: 10px 0px;   
}
.indexContentHeaderDown ul li div {
    display: flex;    
}
.indexContentHeaderDown ul li div svg {
    font-size: 30px; 
    padding: 10px;
    background-color: aliceblue;    
    border-radius: 10px;
}
.indexContentHeaderDown ul li div img {
    width: 30px;
    height: 30px;
    font-size: 30px; 
    padding: 10px;
    background-color: aliceblue;    
    border-radius: 10px;
}
.indexContentHeaderDown ul li div p {
    color: aliceblue;
    line-height: 50px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
}


// 文章列表
.indexContentArticle {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column
    justify-content: center;
    align-items: center;
}
.indexContentArticleBox {
    width: 50rem;
    background-color: var(--articleBox-bg-color);
    box-shadow: 0px 0px 10px 0px var(--box-shadow-color);
    border-radius: 20px;
    opacity: 0.6;
    margin-top: 100px;
}
.indexContentArticle a {
    width: 100%

    text-decoration: none;
    color var(--articleBox-text-color);
}
.posts {
    width: 100%;
    height: 200px;
    margin: 15px 0px
    display: flex;
    border-bottom: 2px dashed #666;
    border-top: 2px dashed #666;
}
.postLeft {
    width: 70%;
    margin: 20px;
    overflow: hidden;
}
.post-title {
    width: 100%;
    height: 30%;
    padding-left: 5px;
    border-left: 3px solid var(--articleBox-text-color);
    
    white-space: nowrap; /* 防止文本换行 */

    color: var(--articleBox-text-color);
    font-size: 40px;
    font-weight: bold
}
.post-content {
    width: 100%;
    height: 40%;
    margin-top: 5px;
    padding-left: 5px;
    border-left: 3px solid var(--articleBox-text-color);
    overflow: scroll;

    color: var(--articleBox-text-color);
    font-size: 15px;
}
.post-info {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center

    white-space: nowrap; /* 防止文本换行 */

    color: var(--articleBox-text-color);
}
.post-info span {
    margin-right: 10px;
}


.postRight {
    width: 30%;
    margin: 20px;
}
.postRight div {
    width: 100%
    height: 100%
    background-color: #444;
    border-radius: 20px
    overflow: hidden;
}
.postRight div img {
    width: 100%;
    height: 100%
    object-fit: cover;
}

// 分页
.paginator {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.page-nav span {
    padding: 8px 10px;
    margin: 0px 10px;
    border-radius: 8px
    background-color: #16A085;
    color: aliceblue;
}
.page-nav a {
    padding: 8px 10px;
    margin: 0px 10px;
    border-radius: 8px
    background-color: aliceblue;
    color: #16A085;
}