.home
    width 100vw
    height auto
    display flex
    flex-direction column
    align-items center
// 顶开导航栏
.homeGuider
    width 100vw
    height 64px
// 主页顶部
.homeTop
    max-width 1240px
    min-height calc(100vh - 64px)
    margin 0 50px
    display flex
    flex-direction column
    justify-content center
// 头部上面的文字和头像
.homeTopWelcome
    margin-top 64px
    display flex
    justify-content space-between
    align-items flex-end
// 文字
.HomeTopWelcomeText
    display flex
    flex-direction column
    justify-content center
    font-weight bold
    text-shadow 6px 6px 8px
    

    h1
        margin -10px 0px
        // color var(--homeHeaderH1)
        background linear-gradient(to right bottom, #FFB2AA, #FFC6AA, #FFD8B6, #FFE6CC)
        color transparent
        background-clip text
        text-shadow 6px 6px 8px #ffe6cc
        font-size 56px
    h3
        color var(--homeHeaderH3)
        font-size 56px
    h5
        color var(--homeHeaderH5)
        font-size 28px

        img
            width 30px
            height 30px
            margin 10px 0px 0px 10px
            position absolute
// 头像
.HomeTopWelcomeImg
    width 200px
    height 200px
    margin-right 200px
    position relative

    img
        width 200px
        height 200px
        border-radius 320px
        position absolute
        top 0px
        right 0px
        z-index 1
    div
        width 200px
        height 200px
        background-color var(--homeHeaderImg)
        box-shadow 0px 0px 120px 60px var(--homeHeaderImg)
        border-radius 310px
        position absolute
        top 0px
        right 0px
        z-index -1
// 技术
.homeTopSkill
    order 1
    margin-top 50px

    ul
        display grid
        grid-template-columns 1fr 1fr 1fr

        li
            list-style none
            padding 20px
            margin 8px
            opacity 1
            background-color var(--skillBGColor)
            border-radius 10px
            backdrop-filter blur(10px)

            p
                color var(--skillH)
                font-size 15px
            div
                display flex

                svg
                    font-size 24px
                    padding 10px
                    background-color var(--skillIconColor)
                    border-radius 10px
                p
                    color var(--skillText)
                    line-height 45px
                    margin-left 10px
                    font-size 20px
                    font-weight bold