@media screen and (max-width 640px)
    // 导航栏
    .headerInterval
        display none
    .headerLogo
        margin-left 20px

        img
            display none
        a
            font-size 18px
    .headerMenuSwitch
        margin-right 20px
        .menuSwitchLabel
            display: flex

        label
            color var(--guiderTextIcon)
            font-size 25px
        input
            display none 
        input:checked +.headerModule
            opacity 1
            pointer-events auto
    // 菜单
    .headerModule
        width 100vw
        height 100vh
        position absolute
        top 0
        left 0
        z-index -1
        display flex
        flex-direction column
        justify-content center
        align-items center
        background-color var(--guiderMenuBGColor)
        backdrop-filter blur(10px)
        -webkit-backdrop-filter blur(10px)
        opacity 0
        pointer-events none
        transition opacity 0.5s ease-in-out

        .headerModuleMenu
            ul
                margin-bottom 50px
                display flex
                flex-direction column

                li
                    margin 5px 0px
                    padding 10px 150px 10px 5px
                    border-bottom 1px solid var(--guiderTextIcon)
                    color var(--guiderTextIcon)
        .headerLight-dark
            padding 8px 40px
            display flex
            background-color var(--guiderMenuThemeSwitchBGColor)
            border-radius 8px

            p
                display block
                margin-right 10px
                color var(--guiderMenuThemeSwitchText)
        .headerSocialize
            margin-top 50px

            ul
                li
                    a
                        color var(--guiderMenuThemeSwitchText)
                        font-size 30px
    // 主页
    .homeGuider
        height 0
    .homeTop
        width 100vw
        height auto

        .homeTopWelcome
            width 100vw
            height 100vh
            display flex
            flex-direction column-reverse
            justify-content center
            align-items flex-start

            .HomeTopWelcomeText
                margin-left 30px

                h1, h3
                    font-size 32px
                h5
                    font-size 18px
            .HomeTopWelcomeImg
                width 150px
                height 150px
                margin 0px 0px 40px 30px

                img, div
                    width 100%
                    height 100%
        .homeTopSkill
            ul
                display flex
                flex-direction column
                li
                    opacity 0
    // 页脚
    footer
        height auto
        flex-direction column

        .footerLeft, .footerRight
            align-items center
        .footerLeft
            margin 10px 0px
        .footerRight
            ul
                margin 0
    // 文章列表
    .indexContentArticleBox
        width 90%

        .postLeft
            width 100%
        .postRight
            display none
    // 文章页
    .post-Detali-content-content
        max-width 90%
        padding 20px 20px 0px 20px

        img
            padding 0
    .post-Detali-content-title-content
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

        span

        display none
    figure
        overflow scroll
    .post-Detali-content-content-content
        flex-direction column
        align-content center
    .post-Detali-content-content-content-Toc
        max-width 98%
        position static
    .post-Detali-content-content-content-article
        max-width 98%