* {
    margin: 0;
    padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: PingFang;

  // background-color: var(--body-bg-color);
  // background-image: url(https://pic.imgdb.cn/item/6562d0eec458853aefc73544.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
    background-color: var(--index-text-h1-color);
    color: var(--post-title-text-color);
}
/* Firefox */
::-moz-selection {
    background-color: var(--index-text-h1-color);
    color: var(--post-title-text-color);
}
/* WebKit browsers */
::-webkit-selection {
    background-color: var(--index-text-h1-color);
    color: var(--post-title-text-color);
}
// 图标
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4335391 */
  src: url('//at.alicdn.com/t/c/font_4335391_whzhtqpl3wa.woff2?t=1702716621744') format('woff2'),
       url('//at.alicdn.com/t/c/font_4335391_whzhtqpl3wa.woff?t=1702716621744') format('woff'),
       url('//at.alicdn.com/t/c/font_4335391_whzhtqpl3wa.ttf?t=1702716621744') format('truetype');
}
.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
}

@font-face {
  font-family: PingFang;
  src: url('/ttf/苹方-简.ttf');
}
@font-face {
  font-family: Intel;
  src: url('/ttf/IntelOneMono-Medium.ttf');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@import "_partial/header";
@import "_partial/footer";
@import "_partial/codeBlock";
@import "_partial/loading";
@import "index";
@import "post";
@import "theme";
@import "moblie";