:root,
:root.light {
    // 导航栏
    --header-bg-color: #fff;
    --header-text-color: #333;
    --box-shadow-color: #949494;
    --box-blur-color: rgba(240, 248, 255,0.7);
    --box-text-color: #555;
    //body背景
    --body-bg-color: #F0F8FF;
    //首页头部文字
    --index-text-h1-color: #16A085;
    --index-text-h3-color: #333;
    //首页文章列表
    --articleBox-bg-color: #fff;
    --articleBox-text-color: #333;
    --articleBox-textdata-color: #555;
    //文章页
    --post-title-text-color: #fff;
    --post-content-text-color: #333;
}
:root.dark {
    // 导航栏
    --header-bg-color: #333;
    --header-text-color: #fff;
    --box-shadow-color: #000;
    --box-blur-color: rgba(68, 68, 68, 0.7);
    --box-text-color: #fff;
    //body背景
    --body-bg-color: #444;
    //首页头部文字
    --index-text-h1-color: #3adfbe;
    --index-text-h3-color: #fff;
    //首页文章列表
    --articleBox-bg-color: #444;
    --articleBox-text-color: #fff;
    --articleBox-textdata-color: #fff;
    //文章页
    --post-title-text-color: #fff;
    --post-content-text-color: #fff;
}